#iii{
    color:rgb(15, 88, 64);
    background-color: beige;
}

#hhh{
    color: rgb(53, 57, 141);
    background-color: blanchedalmond;
}
#fruit1{
    color: rgb(145, 103, 5);
}
#fruit2{
    color: red;
}
#fruit3{
    color:violet ;
}
#fruit4{
    color: orange;
}